body,
html {
  height: 100%;
  background-color: #212121;
  font-family: Helvetica;
  color: #adadad;
  font-size: 16px;
}

h1 {
  margin-bottom: 10px;
  font-family: Helvetica;
  color: #adadad;
}

text {
  fill: #adadad;
  font-family: Helvetica;
  font-size: 18px;
}

.parallax {
  /* The image used */
  background-color: #212121;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.outer-div {
  height: 1000px;
  /* Bordure pour debug */
  border: 5px solid blue;

  /* Pour centrer horizontalement le contenu de cette div */
  text-align: center;
}

.inner-div {
  /* Bordure pour debug */
  border: 5px solid yellow;

  /* Centrer verticalement */
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);

  /* Centrer Horizontalement */
  display: inline-block;
  padding: 50px;
}

.hidden {
  display: none;
}

.toolTip {
  font-family: Helvetica;
  color: #adadad;
  background-color: #212121;
  padding: .5em;
  opacity: 0.9;
  position: absolute;
}

.toolTipName {
  font-family: Helvetica;
  color: #adadad;
  font-size: 16px;
}

.toolTipData {
  font-family: Helvetica;
  color: #adadad;
  font-size: 12px;
}

